.margin-top {
    margin-top: 2em;
}

.navbar{
    border-width: 0px 0px 1px 0px;
    background-color: #000000;

}

.navbar-default {
    background-color: #000000;
}

.navbar-default .navbar-brand {
    color: #cbbc19;
}

.navbar-brand_yehior {
    color: #cbbc19;
}


.btn-success {
    color: #cbbc19;
    background-color: #000;
    border-color: #000;
}


.btn-default {
    color: #cbbc19;
    background-color: #000000;
    border-color: #000;
}


.btn-default:hover {
    color: #ffffff;
    background-color: #182138;
    border-color: #182138;
}

.btn-success:hover {
    color: #ffffff;
    background-color: #182138;
    border-color: #182138;
}


.btn-primary {
    color: #cbbc19;
    background-color: #000000;
    border-color: #000000;
}